@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    button[class*="bg-"],
    a[class*="bg-"] {
        position: relative;
        overflow: hidden;
        transition: all 0.1s ease-in-out;
    }

    .ripple-effect {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
        transform: scale(0);
        animation: ripple-animation 1.01s linear;
        pointer-events: none; /* Agar ripple tidak mengganggu interaksi */
    }

    @keyframes ripple-animation {
        to {
            transform: scale(4);
            opacity: 0;
        }
    }
}

.btn {
    border-radius: 7px;
    --tw-bg-opacity: 1;
    background-color: rgb(93 135 255 / var(--tw-bg-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.btn-outline-primary {
    border-radius: 7px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(93 135 255 / var(--tw-border-opacity));
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --tw-text-opacity: 1;
    color: rgb(93 135 255 / var(--tw-text-opacity));
}
